<<<<<<< HEAD
/* body {
  margin: 0;
=======
body {
  
  

  margin-top: 0px;
 
>>>>>>> HH
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 216, 239);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
<<<<<<< HEAD
} */
=======
    color:rgb(38, 58, 58)

    
    
}
>>>>>>> HH
